body {
    display: flex;
    justify-content: center;
    font-family:bradley hand, cursive;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; }

   
    

.handwriting-container {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    padding: 20px;
    
}

#animated-text {
    white-space: pre;
    overflow: hidden;
    border-right: none;
    animation: typing 3s steps(40) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.handwriting-text {
    font-family: bradley hand, cursive;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    padding: 20px;
    background-color: #fff;
    white-space: pre;
    overflow: hidden;
    animation: typing 3s steps(40) forwards;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
